html{
	font-size:13px;
	font-family: monospace;
}
body {
	background-color:#0E282E;
	color: lavender;
}
a {
  color: white;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background-color:  rgb(62, 20, 51);
}

.section-2 {
	background-color: #286177;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}
.section-5{
	background-color: #063647;
}
a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar {
	height:200px;
	border-radius: 50%;
	
}
.avatar img{
	height: 30%;
	border-radius: 50%;
	transition: none;
	object-fit: none;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
.content{
	margin: 100px 0 0 200px;
	width: 60%;
	height: 450px;
	display: flex;
	justify-content: center;
	gap: 5px;
	
}
.content img{
	width: 10%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, 0.684);
	transition: all ease-in-out 0.5s;
}
.container img:hover{
	width: 65%;
}